/*tarjeta principal*/
.tarjeta{
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

/*Imagen de perfil*/
img{
    float: flex;
    width: 200px;
    height: 200px;
    margin: 10px 20px 10px 10px;
    border-radius: 50%;
    object-fit: cover;
}
/*contenerdor de redes*/
.redes{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

/*Icono de redes*/
.link{
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
}

.link:hover {
    transform: scale(1.5);
}

.derecha{
    margin-left: auto;
}